.gallery-section {
    padding: 60px 0;
}

.container {
    min-width: 1200px;
    margin-left: auto;
    margin-right: auto;
    padding-left: 30px;
    padding-right: 30px;
}

.search-form {
    display: flex;
    justify-content: center;
}

.search-input {
    width: 750px;
    height: 40px;
    border: 1px solid #303030;
    padding-left: 15px;
    font-size: 18px;
}

.btn-submit {
    margin-left: 15px;
}

.load-more {
    margin: 0 auto;
    display: block;
}